# Temporary files
*.tmp
*.temp
*.bak
*.orig
*~

# Vim/Neovim swap files
*.swp
*.swo

# macOS / Windows junk
.DS_Store
Thumbs.db

# Common temp folders
tmp/
temp/

cali-logger-*.json

cali

workout/workout-2026.log